.table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background-color: #6c757d; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-bottom: 3px solid #dee2e6;
}

.table thead th {
    padding: 12px 15px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.table thead th i {
    margin-left: 5px;
    transition: color 0.3s;
}

.table thead th:hover i {
    color: gray;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s, transform 0.3s;
}

.table tbody tr:hover {
    background-color: #e2e6ea;
    transform: scale(1.02);
}


.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.table tbody td {
    padding: 12px 15px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.table tbody tr td .btn {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.btn-default {
    background-color: #ffffff;
}

.btn-default:hover {
    background-color: #f8f9fa;
}

.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

th .fa {
    font-size: 14px;
    transition: color 0.3s;
}

.fa-heart {
    color: #dc3545;
}

.fa-heart-o {
    color: #aaa;
}

.text-right {
    text-align: right;
}

@media (max-width: 768px) {
    .table {
        font-size: 12px;
    }

    .btn {
        font-size: 10px;
        padding: 3px 8px;
    }
}

body {
    overflow-x: hidden;
    padding: 60px 0 90px 0;
}

main {
    padding: 5px 0 5px 0;
}

.carousel-caption .display-1 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.25rem;
}

@media (max-width: 576px) {
    .carousel-caption {
        font-size: 0.9rem;
        padding: 10px;
    }

    .carousel-caption .display-1 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .navbar {
        font-size: 0.8rem;
    }
}

@media (min-width: 577px) and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    .carousel-caption {
        padding: 20px;
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

.bannerTop {
    height: 480px;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:active,
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.ua:hover {
    color: green;
}

.search-bar-container {
    position: relative;
    width: 100%;
    margin-top: 17px;
}

.search-input {
    width: calc(100% + 20px);
    margin-right: -10px;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
}

.list-group-item {
    border: none;
    padding: 8px 16px;
}

.list-group-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px 16px;
}

.list-group-item a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}


.fixed-button {
    position: fixed;
    bottom: 75px;
    left: 65px;
    z-index: 9999;
}

.fixed-button a {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}

.fixed-button a:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.athlete-item {
    margin-bottom: 15px;
}

.nav-link.active {
    background-color: #d3d3d3;
    color: black;
    border-radius: 5px;
}

.dropdown-item.active {
    background-color: #d3d3d3;
    color: black;
}

.navbar-item-container .nav-link.active {
    color: black;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-evenly;
}

.card {
    border: 1px solid #e0e0e0; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}


div button {
    font-size: 12px;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}


.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: white;
}

.card .fa {
    font-size: 14px;
    margin-right: 5px;
}

.fa-heart {
    color: #dc3545;
}

.fa-heart-o {
    color: #aaa;
}

/* Responsividade */
@media (max-width: 768px) {
    .card-container {
        gap: 15px;
    }

    .card {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (min-width: 1201px) {
    .card {
        width: calc(25% - 20px); /* Quatro cartões por linha */
    }
}
