body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f6fa;
    color: #333;
}

.bannerTop {
    height: 50px;
    background: linear-gradient(90deg, #005bbb, #ee334e);
    margin-bottom: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    margin-bottom: 20px;
}

.table th {
    text-align: center;
    background: #005bbb;
    color: white;
}

.table td {
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
}

.table-sm th, .table-sm td {
    padding: 0.5rem;
}

.btn-submit {
    background: #ee334e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:disabled {
    background: #ccc;
    cursor: not-allowed;
}

hr {
    border: 1px solid #eee;
    margin: 20px 0;
}

span {
    font-weight: bold;
}
.quiz-button {
    position: fixed;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #005bbb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10; /* Garantir que o botão esteja sobre outros elementos */
}

.quiz-button:hover {
    background-color: #003d7a;
}